html {
    overflow-y: scroll;
}

body {
    font-size: 13px;
    padding-top: 60px;
}

.progress {
    margin-bottom: 0;
}

.table td.rightCell, .table th.rightCell {
    text-align: right;
}

.percent {
    text-align: center;
}

h4 {
    color: #428bca;
}

thead {
    background-color: #428bca;
    color: #fff;
}
